<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
	</configSections>
	<appSettings>
		<add key="world_list" value="5000,5001,5002"/>
	</appSettings>
	<superSocket xmlns="http://schema.supersocket.net/supersocket" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schema.supersocket.net/supersocket http://schema.supersocket.net/v1-7/supersocket.xsd" logFactory="ConsoleLogFactory" disablePerformanceDataCollector="true">
		<servers>
			<server name="GameServer" serverTypeName="GameServerType" ip="Any" port="1000" world_id="1" backend_port =" 5000"/>
			<server name="GameServer2" serverTypeName="GameServerType" ip="Any" port="1001" world_id="2" backend_port =" 5001"/>
			<server name="GameServer3" serverTypeName="GameServerType" ip="Any" port="1002" world_id="3" backend_port =" 5002"/>
		</servers>
		<serverTypes>
			<add name="GameServerType" type="MMOServer.Game.GameServer, MMOServer" />
		</serverTypes>
		<logFactories>
			<add name="ConsoleLogFactory" type="SuperSocket.SocketBase.Logging.ConsoleLogFactory, SuperSocket.SocketBase" />
		</logFactories>
	</superSocket>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
</configuration>